code{ white-space: pre-wrap;}
span.smallcaps{font-variant: small-caps;}
span.underline{text-decoration: underline;}
div.column{display: inline-block; vertical-align: top; width: 50%;}
a { color: darkgreen; }

pre {
    font-size: 11pt;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3, h4, h5, h6 {
    margin: 3em 0 1em;
    font-weight: normal;
    line-height: 1.5;
}

h2 {
    font-style: italic;
}


/*
body {
    max-width: 600px;
    hyphens: auto;
    padding: 10px;
    font-family: schola, serif;
    font-weight: 400;
    line-height: 1.4em;
    background-color: white;

    margin: auto;
}
*/

body {
    width: 87.5%;
    margin: auto;
    background-color: #fffff9;
    color: #111;
    max-width: 620px;

    font-family: schola, serif;
    hyphens: auto;
    line-height: 1.7rem;
    font-size: 1.1rem;
}

img {
    max-width: 400px;
    margin: 5px;
    border: 1px solid lightgray;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

figcaption {
    font-size: small;
    margin-left: 5px;
}

li {
    margin-top: 4px;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
    body { 
    }  

    figure {
    }

    div > img {
        text-align: left !important;
    }

    figcaption {
        margin-left: 0 !important;
        /* font-size: 20px;*/
    }

    img {
        width: 100%;
        padding: 0 !important;
        border: none !important;
        max-width: 100% !important;
    }

    img.special {
        margin: 0 !important;
        float: none !important;
        position: initial !important;
        width: 100% !important;
    }   

}

/* FONT FACE */
@font-face {
    font-family: schola;
    src: url('texgyreschola-bold-webfont.woff2') format('woff2'),
         url('texgyreschola-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: schola;
    src: url('texgyreschola-bolditalic-webfont.woff2') format('woff2'),
         url('texgyreschola-bolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: schola;
    src: url('texgyreschola-italic-webfont.woff2') format('woff2'),
         url('texgyreschola-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: schola;
    src: url('texgyreschola-regular-webfont.woff2') format('woff2'),
         url('texgyreschola-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
