code{white-space: pre-wrap;}
span.smallcaps{font-variant: small-caps;}
span.underline{text-decoration: underline;}
div.column{display: inline-block; vertical-align: top; width: 50%;}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
    line-height: 32px;
    font-size: 27px;
    font-family: 'Lora', serif;
    letter-spacing: -1.2px;
    text-align: center;
}

body {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    font-family: vollkorn, serif;
    font-weight: 400;
    line-height: 1.2em;
    background-color: white;
}

code {
    font-size: 11pt;
}

img {
    max-width: 400px;
    padding: 5px;
    margin: 5px;
    border: 1px solid lightgray;
}

figcaption {
    font-size: small;
    margin-left: 5px;
}

blockquote {
}

li {
    margin-top: 4px;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
    body { 
        margin: 20px;
    }  

    figure {
    }

    div > img {
        text-align: left !important;
    }

    figcaption {
        margin-left: 0 !important;
        /* font-size: 20px;*/
    }

    img {
        width: 100%;
        padding: 0 !important;
        border: none !important;
        max-width: 100% !important;
    }

    img.special {
        margin: 0 !important;
        float: none !important;
        position: initial !important;
        width: 100% !important;
    }   

}
